<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link th:href="@{/css/StyleAbout.css}" rel="stylesheet">
    <title>About</title>
</head>
<body>
<div th:replace="fragments/nav">This content will be gone</div>
<h1 align="center">Contact us</h1>


<div align="center" class="contact-info">
    <h2>Kontaktinformationen</h2>
    <br>
    <p>Adresse: Milchstrasse 123, Capital City</p>
    <p>Telefon: +3141 59265359</p>
    <p>E-Mail: TeamMars@Milchstrasse.com</p>
    <br>
    <h2>Öffnungszeiten</h2>
    <br>
    <p>Montag: 9:00 - 9:01 Uhr</p>
</div>

<div class="map">
    <!-- Hier können Sie eine Karte einbetten, z. B. Google Maps -->
</div>

<div align="center" class="social-media">
    <h2>Folgen Sie uns in den sozialen Medien</h2>
    <a href="https://www.facebook.com/example">Facebook</a>
    <a href="https://twitter.com/example">Twitter</a>
    <a href="https://www.linkedin.com/company/example">LinkedIn</a>
</div>


<div th:replace="fragments/footer">This content will be gone</div>
</body>
</html>